@media(max-width: 920px){
    .header__menu-btn{
        display: block; 
    }
    .header__menu a{
        display: block;
    }
    .header__menu ul{
        display: none;
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 5px solid #e8663c;
        border-radius: 5px;
        margin-top: -3px;
    }
    .header__menu li{
        display: block;
        text-align: center;
    }
    .header__menu li + li{
        margin-left: 0;
    }

    .items__inner{
        flex-wrap: wrap;
    }
    .item{
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
        padding: 35px;
    }

    .slider__inner{
        width: 100%;
    }

    .works__inner{
        flex-wrap: wrap;
        justify-content: space-around;

    
    }
    .works__item{
        margin: 10px;
    }
   
   

    .footer__inner{
        flex-wrap: wrap;
        max-width: 100%;
    }
    .footer__item-box{
        width: 100%;
        padding: 15px;
    }
    .footer__text p{
        font-size: 15px;
    }
    .footer__item-box p{
        font-size: 15px;
    }
    }


    @media(max-width: 900px){
        .slick-next {
            top: -255px;
            right: 80px;
        }
        .works__item{
            margin-bottom: 20px;
        }
        .footer__text{
            font-size: 15px;
        }
       
    }

    @media(max-width: 850px){
        .slick-next {
            top: -255px;
            right: 125px;
        }
        .footer__item footer__item-box{
            max-width: 100%;
        }
        .items__inner{
            text-align: center;
        }  
        .item__title::before{
            left: 165px;
        }
    }

    @media(max-width: 800px){
        .slick-next {
            top: -255px;
            right: 165px;
        }
        .item__title::before{
            left: 145px;
        }
    }


    @media(max-width: 770px){

        .slick-next {
            top: -255px;
            right: 235px;
        }
        .item__title::before{
          left: 65px;
         }
    }
    @media(max-width: 660px){
        .footer__item-box{
            width: 100%;
            padding: 15px;
        } 
        .footer__text p{
            font-size: 15px;
        }
        .footer__item-box p{
            font-size: 15px;
        }
    }

    @media(max-width: 580px){

      
        .footer__inner{
            flex-wrap: wrap;
            min-width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            text-align: center;
            
        }
        .footer__items-title{
            margin-bottom: 25px;
        }
        .footer__text p{
            font-size: 15px;
        }
        .items__inner{
            text-align: center;
        }  
        .item__title::before{
            left: 0px;
        }
    }

    @media(max-width: 480px){
        .slaider__wrapper{
            left: 20px;
        }

       
        .works__item{
            flex-wrap: wrap;
            margin: 0;
            margin-bottom: 20px;
        }

           .works__item + .works__item {
            margin-left: 0px;
        } 
     
        .slick-next {
            top: -255px;
            right: 615px;
        }
        .items__inner{
            text-align: center;
        } 
        .item__title::before{
            left: 0px;
        }
        .footer__text p{
            font-size: 15px;
        }
        .footer__item-box p{
            font-size: 15px;
        }

        
    }


    @media(max-width: 450px){
    .slaider__wrapper{
        max-width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 15px;
    
    }
    .wrapper__inner{
        width: 50px;
        height: 20px;
    }
    .slaider__wrapper{
        padding-left: 10px;
    }
    .slaider__wrapper-text{
        width: 415px;
    }
}

@media(max-width: 430px){
    .slaider__wrapper{
        padding-left: 10px;
    }
    .slaider__wrapper-text{
        width: 400px;
    }
}
@media(max-width: 390px){
    .slaider__wrapper{
    
        padding-left: 10px;
    }
    .slaider__wrapper-text{
        width: 360px;
    }

}

@media(max-width: 370px){
    .slaider__wrapper{
        
        padding: 10px;
    }
    .slaider__wrapper-text{
        width: 337px;
    }

}


@media(max-width: 345px){
    .slaider__wrapper{
        
        padding: 10px;
    }
    .slaider__wrapper-text{
        width: 310px;
    }
    .slick-prev {
        top: -255px;
        right: 625px;
    }
 
    .items__inner{
        text-align: center;
    }  
    .footer__text p{
        font-size: 15px;
    }
    .footer__item-box p{
        font-size: 15px;
    }

}


    @media(max-width: 320px){
        .slaider__wrapper{
            
            padding: 10px;
        }
        .slaider__wrapper-text{
            width: 290px;
        }
        .slick-prev {
            top: -255px;
            right: 625px;
        }
     
        .items__inner{
            text-align: center;
        }  
        .footer__text p{
            font-size: 15px;
        }
        .footer__item-box p{
            font-size: 15px;
        }

    }



